= form_for @game, html: {class: 'form form-horizontal', role: 'form'} do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg


  = f.fields_for :players, @game.players do |player_fields|
    .form-group
      = player_fields.label :name, "Player #{player_fields.options[:child_index] + 1}:", class: 'col-sm-2 control-label'
      .col-sm-6
        = player_fields.text_field :name, class: "form-control", placeholder: 'Player Name'

  .actions
    .pull-left
      = link_to 'Back', games_path, class: 'btn btn-default'
    .pull-right
      = f.submit 'Save', class: 'btn btn-primary'
